.computers-checkbox.ui.checkbox {
  padding: 10px;
}

.phones-checkbox.ui.checkbox {
  padding: 10px;
}

.tablets-checkbox.ui.checkbox {
  padding: 10px;
}

.accessories-checkbox.ui.checkbox {
  padding: 10px;
}
